.App {
    background-color: red;
    justify-content:space-around;
    cursor: pointer;
    flex-wrap: wrap;
    word-wrap: break-word;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    pointer-events: none;
    font-size: 1rem;
}